/* IMPORTS and OTHER HEAD STUFF */
@font-face{
  font-family: 'RetroGaming';
  src: url('fonts/Retro Gaming.ttf');

}
/* ELEMENTS */
html{
  scroll-behavior: smooth;
}
footer{background: none;}
/* ID's */

#home {   
    width: 100vw;
    height: 105vh;
    background: url('https://steamuserimages-a.akamaihd.net/ugc/784104461439493515/6501301E63C18B9D5E8F39A18E24F8868B6E7508/')
    center/cover fixed; 
    box-shadow: 0rem 5rem 3rem 3rem #1D4F5E;
}
#titleImg{
  max-width: 60vw;
  height: 60vh;  
}
#start-button {
  background: black;
  border: 2px solid silver;
  border-radius: 5px;
  padding: .5rem 3rem .75rem 3rem;
  font-size: 3rem;
}
#start-button a{
  color: silver;
  font-family: 'retroGaming';
}

#scene-change{
  height: 800vh;  
  background: linear-gradient(to bottom, #1D4F5E, black 50%,#1E0117);
  
}
#chapter1{
background: url('images/the-dark-wood.png') center/ cover fixed;
}
#chapter-1-text{

}
#chapter-1-controls{

}

/* CLASSES */
.hidden{
  opacity: 0;
}
.chapter{
  height: 100vh;  
  max-width: 1200px;
  color: silver;
}

.controls{
  
}

.controls button{
  background: none;
  border: 3px solid silver;
  padding: 1rem;
  color: silver;
}