/* IMPORTS and OTHER HEAD STUFF */
@font-face {
  font-family: 'RetroGaming';
  src: url('fonts/Retro Gaming.ttf');
}
/* TYPOGRAPHY */

/* GLOBAL ELEMENT STYLING */
html {
  scroll-behavior: smooth;
}

/* GLOBAL ELEMENT STYLING */

/* BOOTSTRAP CLASS ADJUSTMENTS */

/* GLOBAL CLASSES */
.hidden {
  display: none !important;
}
.background {
  height: 100vh;
  width: 99vw;
}
.box {
}
.title {
  color: silver;
}
.image {
}
.game-box {
  position: relative;
  background: #641b71;
}
.text-box {
  color: silver;
}
.controls {
  position: absolute;
  bottom: 0;
}
.game-btn {
  padding: .5rem;
  border-radius: 10px;
}

/* NAVBAR */
.navbar {
  background: none;
}
#navbar {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 100px;
  height: auto;
  background: none;
}
#navbar button {
  width: 100px;
  height: 50px;
  background: #000000;
  box-shadow: 0px 0px 2px 2px silver;

  color: silver;
  transition: all ease 0.8s;
}
#navbar button:hover {
  background: rgb(109, 0, 233);
  box-shadow: 0px 0px 5px 5px silver;
  transform: scale(1.1);
}

/* HOME PAGE STYLES */
#home {
  background: url('https://steamuserimages-a.akamaihd.net/ugc/784104461439493515/6501301E63C18B9D5E8F39A18E24F8868B6E7508/')
    center/cover fixed;
}

#home-image {
  max-height: 100%;
}
#start-button {
  font-size: 2rem;
  padding: 0.8rem 5rem;
  border-radius: 10px;
  background: #000000;
  color: silver;
  transition: all ease-in-out 0.5s;
}
#start-button:hover {
  background: rgb(109, 0, 233);
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px silver;
  transform: scale(1.1);
}
#start-button a {
  color: inherit;
}

/* SCENE CHANGE STYLES */
#scene-change {
  height: 800vh;
  background: linear-gradient(to bottom, #1d4f5e, black, #1e0117);
}

/* CHAPTER 1 STYLES */
#ch1 {
  background: url('images/the-dark-wood.png') center/cover;
  color: silver;
}


/* CHAPTER 2 Styles */
#ch2 {
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1),
    rgba(41, 137, 216, 1),
    rgba(41, 137, 216, 1),
    rgba(0, 0, 0, 1)
  );
}
#ch2-game {
}
#ch2-text {
  width: 100%;
}
#ch2-continue {
}
#ch2-back {
}

/* CHAPTER 3 Styles */
#ch3 {
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1),
    rgba(51, 122, 23, 1),
    rgba(51, 122, 23, 1),
    rgba(0, 0, 0, 1)
  );
}
#ch3-image {
}
#ch3-game {
  height: 40%;
}
#ch3-text {
}
#ch3-controls {
}
#ch3-continue {
}
#ch3-back {
}

/* FINALE STYLES */
#finale {
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1),
    rgba(253, 190, 74, 1),
    rgba(253, 190, 74, 1),
    rgb(231, 231, 231)
  );
}
#finale-image {
}
